<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      div {
      	-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
      }
    </style>
    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places,visualization&v=3.exp"></script>
    <script type='application/javascript'>
		var map;
		var homePos;
//		var storesShown = false, hospitalsShown = false;
		var service, infoWindow;
		var stores = [], hospitals = [];
		var storesControl; 
		var hospitalsControl;
		var demoMode = true;
		var tooltip;
		var alControl, flControl, laControl, msControl;

		function initialize() {
			var mapContainer = document.getElementById('map-canvas');
			var mapOptions = {
				zoom: 8,
				center: new google.maps.LatLng(30.5, -89)
			};
			map = new google.maps.Map(mapContainer, mapOptions);

			infoWindow = new google.maps.InfoWindow();
			service = new google.maps.places.PlacesService(map);

			// if geolocation available, add home control:
			if(navigator.geolocation){
				var homeControlDiv = document.createElement('div');
				var homeControl = new Control(
					"Home", "Click to center the map around your location", 
					homeControlDiv, map, function(){
						getHomeLocation(demoMode);
					});
				homeControlDiv.index = 3;
				map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);
			}

			// add 'Toggle Nearby Stores' control:
			var storesControlDiv = document.createElement('div');
			storesControl = new Control(
				"Grocery/Produce", "Toggle Nearby Grocery and Produce",
				storesControlDiv, map, displayStores, clearStores);
			storesControl.toggleOpacity();
			storesControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push(storesControlDiv);

			// add 'Toggle Nearby Hospitals' control:
			var hospitalsControlDiv = document.createElement('div');
			hospitalsControl = new Control(
				"Hospitals", "Toggle Nearby Hospitals",
				hospitalsControlDiv, map, displayHospitals, clearHospitals);
			hospitalsControl.toggleOpacity();
			hospitalsControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push(hospitalsControlDiv);

			// Load Tract GeoJSON data:
			// map.data.loadGeoJson('/map_layers/1.json');

			// add 'Show Alabama' control:
			var alControlDiv = document.createElement('div');
			alControl = new Control(
				"AL", "Click to toggle Alabama Census Tracts",
				alControlDiv, map, function(){
					displayCensusTracts('al');
				}, function(){
					clearCensusTracts('al');
				});
			alControl.toggleOpacity();
			alControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(alControlDiv);

/*			// add 'Show Florida' control:
			var flControlDiv = document.createElement('div');
			flControl = new Control(
				"FL", "Click to Toggle Florida Census Tracts",
				flControlDiv, map, function(){
					toggleCensusTracts('fl');
					flControl.toggleOpacity();
				});
			flControl.toggleOpacity();
			flControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(flControlDiv);

			// add 'Show Louisiana' control:
			var laControlDiv = document.createElement('div');
			laControl = new Control(
				"LA", "Click to Toggle Louisana Census Tracts",
				laControlDiv, map, function(){
					toggleCensusTracts('la');
					laControl.toggleOpacity();
				});
			laControl.toggleOpacity();
			laControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(laControlDiv);

			// add 'Show Mississippi' control:
			var miControlDiv = document.createElement('div');
			miControl = new Control(
				"MS", "Click to Toggle Mississippi",
				miControlDiv, map, function(){
					miControl.toggleOpacity();
					toggleCensusTracts('ms');
				});
			miControl.toggleOpacity();
			miControlDiv.index = 10;
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(miControlDiv);
*/
			map.data.addListener('mouseover', function(event) {

				var some_lat = event.feature.getProperty('center').lat
				var some_lng = event.feature.getProperty('center').lng
				
				if (infoWindow) {
					infoWindow.close();
				}
				infoWindow = new google.maps.InfoWindow({
					position: new google.maps.LatLng(some_lng, some_lat),
					content: event.feature.getProperty('lalits')*100 + "% live more than " 
						+ event.feature.getProperty('distance') + " miles from fresh food."
				});
				infoWindow.open(map);
			});
			map.data.addListener('click', function(event) {
				toggleStores(event.feature.getProperty("sw"), event.feature.getProperty("ne"));
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);

		function displayCensusTracts(state){
			// add state features to the control so they can be removed later:
			$.getJSON('map_layers/'+state+'.json', function(features){
				window[state+"Control"].toggleCollection = 
					map.data.addGeoJson(features);
			});

			map.data.setStyle(function(feature) {
				var lalits = feature.getProperty('lalits');
				var R  = 'FF';
				var GB = 'FFFF';
				if (lalits < .05){
					GB = 'DDDD';
				} else if (lalits < .10){
					GB = 'BBBB';
				} else if (lalits < .15){
					GB = 'AAAA';
				} else if (lalits < .20){
					GB = '8888';
				} else if (lalits < .25){
					GB = '6666';
				} else if (lalits < .30){
					GB = '4444';
				} else if (lalits < .35){
					GB = '2222';
				} else if (lalits < .40){
					GB = '0000';
				} else if (lalits < .45){
					GB = '0000'; R = 'EE';
				} else if (lalits < .50){
					GB = '5555'; R = 'DD';
				} else if (lalits < .55){
					GB = '4444'; R = 'CC';
				} else if (lalits < .60){
					GB = '3333'; R = 'BB';
				} else if (lalits < .65){
					GB = '2222'; R = 'AA';
				} else if (lalits < .70){
					GB = '1111'; R = 'AA';
				} else if (lalits < .75){
					GB = '0000'; R = 'AA';
				}
				var rgb = '#' + R + GB;
				return {
					fillColor: rgb,
					fillOpacity: 0.8,
					strokeWeight: 0.5,
					clickable: true
				};
			});
			
			map.data.addListener('mouseover', function(event) {
				// document.getElementById('info-box').textContent = event.feature.getProperty('lalits') + "% of people are at least " + event.feature.getProperty('distance') + " miles away.";
				//console.log('moused over!');
			});
			map.data.addListener('click', function(event) {
				var sw = event.feature.getProperty("sw");
				var ne = event.feature.getProperty("ne");
				displayStores(sw, ne);
				displayHospitals(sw, ne);
			});
		}

		function clearCensusTracts(state){
			var features = window[state+"Control"].toggleCollection;
			for(var i=0; i<features.length; i++){
				map.data.remove(features[i]);
			}

		}

		// displays stores, based on given sw/ne 
		// or global viewport bounds:
		function displayStores(sw, ne){
			if(storesControl.isOn){
				clearStores();
				var request = {
					bounds: ((sw && ne) 
						? new google.maps.LatLngBounds(
							new google.maps.LatLng(sw.lat, sw.lng), 
							new google.maps.LatLng(ne.lat, ne.lng))
						: map.getBounds()),
					keyword: 'grocery produce',
				};
				service.radarSearch(request, processStoreJSON);
			}
		}

		function clearStores(){
			for(var i=0; i<storesControl.toggleCollection.length; i++){
				storesControl.toggleCollection[i].setMap(null);
			}
			storesControl.toggleCollection = [];
		}
		
		function processStoreJSON(results, status) {
			if (status != google.maps.places.PlacesServiceStatus.OK) {
				//alert(status);
				return;
			}
			for (var i = 0, result; result = results[i]; i++) {
				stores.push(createMarker(result, "assets/reddot.png"));
			}
		}

		function displayHospitals(sw, ne){
			if(hospitalsControl.isOn){
				clearHospitals();
				var request = {
					bounds: ((sw && ne) 
						? new google.maps.LatLngBounds(
							new google.maps.LatLng(sw.lat, sw.lng), 
							new google.maps.LatLng(ne.lat, ne.lng))
						: map.getBounds()),
					keyword: 'hospital',
				};
				service.radarSearch(request, processHospitalJSON);
			}
		}

		function clearHospitals(){
			for(var i=0; i<hospitalsControl.toggleCollection.length; i++){
				hospitalsControl.toggleCollection[i].setMap(null);
			}
			hospitalsControl.toggleCollection = [];
		}

		function processHospitalJSON(results, status) {
			if (status != google.maps.places.PlacesServiceStatus.OK) {
				alert(status);
				return;
			}
			for (var i = 0, result; result = results[i]; i++) {
				hospitalsControl.toggleCollection.push(createMarker(result, "assets/bluedot.png"));
			}
		}

		function createMarker(place, iconPath) {
			var marker = new google.maps.Marker({
				map: map,
				position: place.geometry.location,
				icon : iconPath
			});
			google.maps.event.addListener(marker, 'click', function() {
				service.getDetails(place, function(result, status) {
					if (status != google.maps.places.PlacesServiceStatus.OK) {
						//alert(status);
						return;
					}
					
					infoWindow.setContent(result.name);
					infoWindow.open(map, marker);
				});
			});
			return marker;
		}

		// attempts to retrieve user's home location:
		function getHomeLocation(demoMode){
			if(demoMode)
				homePos = new google.maps.LatLng(29.5, -89);
			else if(!homePos){
				navigator.geolocation.getCurrentPosition(function(position) {
					homePos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					map.setCenter(homePos);
				}, function() {
					handleNoGeolocation(true);
				});
			} else {
				map.setCenter(homePos);
			}
		}

		function handleNoGeolocation(errorFlag) {
			if (errorFlag) {
				var content = 'Error: The Geolocation service failed.';
			} else {
				var content = 'Error: Your browser doesn\'t support geolocation.';
			}

			var options = {
				map: map,
				position: new google.maps.LatLng(30, -89),
				content: content
			};

			var infowindow = new google.maps.InfoWindow(options);
			map.setCenter(options.position);
		}

		// A constructor for custom map controls:
		function Control(label, title, controlDiv, map, onHandler, offHandler){
			var control = this;
			control.toggleCollection = [];	// collection of objects which will/have been toggled by
										// this control.
			control.isOn = false;			// tracks whether this control is on/off

			controlDiv.style.padding = '5px';

			control.controlUI = document.createElement('div');
			control.controlUI.style.backgroundColor = '#00d2ff';
			control.controlUI.style.borderStyle = 'solid';
			control.controlUI.style.borderWidth = '.5px';
			control.controlUI.style.cursor = 'pointer';
			control.controlUI.style.textAlign = 'center';
			control.controlUI.style.opacity = 1;
			control.controlUI.title = title;
			controlDiv.appendChild(control.controlUI);

			// Set CSS for the control interior.
			var controlText = document.createElement('div');
			controlText.style.fontFamily = 'Arial,sans-serif';
			controlText.style.fontSize = '16px';
			controlText.style.color = 'white';
			controlText.style.paddingLeft = '15px';
			controlText.style.paddingRight = '15px';
			controlText.style.paddingTop = '7px';
			controlText.style.paddingBottom = '7px';
			controlText.innerHTML = '<strong>'+label+'</strong>';
			control.controlUI.appendChild(controlText);

			control.toggleOpacity = function(){
				if(control.controlUI.style.opacity == 1)
					control.controlUI.style.opacity = .3;
				else 
					control.controlUI.style.opacity = 1;
			}

			control.toggle = function(){
				control.toggleOpacity();
				if(control.isOn){
					control.isOn = false;
					offHandler();
				} else {
					control.isOn = true;
					onHandler();
				}
			}
			// Setup the click event listener:
			google.maps.event.addDomListener(control.controlUI, 'click', control.toggle);
		}
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
