<div id="map-canvas"></div>
<div id="info-box"></div>
<form id="address-input" name="address-input">
	<label for="address">Enter an address to lookup chemicals nearby:</label>
	<input type="text" name="address" id="address" />
	<input type="submit" value="Submit" />
</form>
</div>
